<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Formulários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
      <ion-list-header><h3>Pacientes</h3></ion-list-header>
      <ion-card *ngFor="let form of listaForms">
          <ion-row><p><b>Q2:</b> {{ form.Q2 }}</p></ion-row>
      </ion-card>
    </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" type="button" (click)="goToFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
